.superpowerContainer {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #c2f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.superpowerContainer:hover {
  z-index: 2;
}
